@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}


:root {
  --bg-color: #fff;
  --txt-color-white: #fff;
  --txt-color-black: #000;
  --txt-color-cstom: #4b4b4b;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
}


/* ---------------------------------------------------------------------- *\
                              #PAGE HEADER
\* ---------------------------------------------------------------------- */


header {
  position: absolute;
  top: 0;
  left: 0;
  height: 768px;
  width: 1440px;
  background: url("../images/header/background.png");
}


.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 768px;
  width: 1440px;
  background: #000;
  opacity: 0.5;
  mix-blend-mode: normal;
}


.header-nav {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 100px;
}


.header-logo {
  position: absolute;
  width: 40px;
  height: 43px;
  left: 150px;
  color: #EBCB80;
}


.nav-bar {
  display: flex;
  position: absolute;
  left: 469px;
  height: 22px;
  width: 509px;
  padding-bottom: 10px;
}


.nav-item-hotels,
.nav-item-airlines,
.nav-item-vacations,
.nav-item-find-more {
  position: absolute;
  color: var(--txt-color-white);
  width: 103px;
  height: 22px;
  font-family: Roboto;
  font-style: normal;  
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}


.nav-item-hotels    { left: 0px;   }
.nav-item-airlines  { left: 123px; }
.nav-item-vacations { left: 256px; }
.nav-item-find-more { left: 406px; }


.header-socials {
  display: flex;
  position: absolute;
  left: 1126px;
  height: 24px;
  width: 165px;
}


.social-twiter,
.social-facebook,
.social-instagram {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #000;
}


.social-twiter     { left: 0px; }
.social-facebook   { left: 72.54px; }
.social-instagram  { left: 141px; }


.header-title {
  position: absolute;
  width: 620px;
  height: 96px;
  top: 163px;
  left: 410px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--txt-color-white);
  letter-spacing: -0.5px;
}


.header-video {
  position: absolute;
  width: 555px;
  height: 324px;
  left: 443px;
  top: 312px;
  background: url(../images/header/video-frame.png) no-repeat center;
}


.play-background {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 126px;
  left: 241px;
  background: url(../images/header/play-bg.png) no-repeat center;
  opacity: 0.8;
}


.play-btn {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 24px;
  left: 30px;
}


.header-down-arrow {
  position: absolute;
  width: 16px;
  height: 6.67px;
  left: 712px;
  top: 723px;
}


/* ---------------------------------------------------------------------- *\
                              #SECTION FEATURE
\* ---------------------------------------------------------------------- */


.features {
  position: absolute;
  width: 1440px;
  height: 768px;
  left: 0px;
  top: 768px;
  background: var(--bg-color);
}


.features-title {
  text-align: center;
  margin: 80px 526px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  color: var(--txt-color-cstom);
}


.features-title-name {
  font-size: 44px;
  margin: 0 100px;
}


.features-title-subtitle {
  font-size: 18px;
  margin: 32px 0 0 0;
  text-transform: uppercase;
}


.features-content {
  margin: 32px 72px 59px 162px;
  display: flex;
}


.features-content-left {
  font-size: 16px;
  line-height: 24px;
}


.responsive-layout, 
.pixel-perfect, 
.organized-layers {
  display: grid;
  grid-template-columns: 60px 262px;
}


.responsive-layout-content,
.pixel-perfect-content,
.organized-layers-content {
  display: flex;
  flex-direction: column;
}


.responsive-layout-content-title,
.pixel-perfect-content-title,
.organized-layers-content-title {
  margin: 0 10px;
  text-transform: uppercase;
}


.responsive-layout-content-description,
.pixel-perfect-content-description,
.organized-layers-content-description {
  margin: 10px 10px 30px 10px;
}


.features-content-right {
  background: url(../images/features/mac.png);
  width: 802px;
  height: 464px;
  margin-left: 100px;
}


/* ---------------------------------------------------------------------- *\
                              #SECTION DOWNLOAD
\* ---------------------------------------------------------------------- */


.download {
  position: absolute;
  width: 1440px;
  height: 680px;
  left: 0;
  top: 1536px;
  background: linear-gradient(0deg, #4b4b4b, #4b4b4b), url(../images/download/background.png);
  background-blend-mode: soft-light, normal;
}


.download-content {
  text-align: center;
  color: var(--txt-color-white);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  margin-top: 163px;
  margin-bottom: 45px;
}


.download-content-title {
  font-size: 44px;
  line-height: 48px;
  margin-bottom: 20px;
}


.download-content-description {
  width: 555px;
  margin: 0 auto;
}


.download-button {
  width: 210px;
  height: 48px;
  display: flex;
  align-items: center;
  background: #EBCB80;
  margin: 0 auto;
  border-radius: 50px;
}


.download-button a {
  text-transform: uppercase;
  margin: 0 auto;
}