@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-family: 'Lucida Grande';
  src: url(../fonts/Lucida-Grande-Regular/Lucida-Grande-Regular.ttf);

}


:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #4b4b4b;
  --color-yellow: #EBCB80;
}


.text-uppercase {
  text-transform: uppercase;
}

.title {
  font-size: 44px;
  line-height: 48px;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-white);
}


/* ---------------------------------------------------------------------- *\
                              #PAGE HEADER
\* ---------------------------------------------------------------------- */


header {
  position: absolute;
  top: 0;
  left: 0;
  height: 768px;
  width: 1440px;
  background: url("../images/header/background.png");
}


.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 768px;
  width: 1440px;
  background: var(--color-black);
  opacity: 0.5;
  mix-blend-mode: normal;
}


.header-nav {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 100px;
}


.header-logo {
  position: absolute;
  width: 40px;
  height: 43px;
  left: 150px;
  color: var(--color-yellow);
}


.nav-bar {
  display: flex;
  position: absolute;
  left: 469px;
  height: 22px;
  width: 509px;
  padding-bottom: 10px;
}


.nav-item-hotels,
.nav-item-airlines,
.nav-item-vacations,
.nav-item-find-more {
  position: absolute;
  color: var(--color-white);
  width: 103px;
  height: 22px;
  font-style: normal;  
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-decoration: none;
}


.nav-item-hotels    { left: 0px;   }
.nav-item-airlines  { left: 123px; }
.nav-item-vacations { left: 256px; }
.nav-item-find-more { left: 406px; }


.header-socials {
  display: flex;
  position: absolute;
  left: 1126px;
  height: 24px;
  width: 165px;
}


.social-twiter,
.social-facebook,
.social-instagram {
  position: absolute;
  width: 24px;
  height: 24px;
  background: var(--color-black);
}


.social-twiter     { left: 0px; }
.social-facebook   { left: 72.54px; }
.social-instagram  { left: 141px; }


.header-title {
  position: absolute;
  width: 620px;
  height: 96px;
  top: 163px;
  left: 410px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  letter-spacing: -0.5px;
}


.header-video {
  position: absolute;
  width: 555px;
  height: 324px;
  left: 443px;
  top: 312px;
  background: url(../images/header/video-frame.png) no-repeat center;
}


.play-background {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 126px;
  left: 241px;
  background: url(../images/header/play-bg.png) no-repeat center;
  opacity: 0.8;
}


.play-btn {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 24px;
  left: 30px;
}


.header-down-arrow {
  position: absolute;
  width: 16px;
  height: 6.67px;
  left: 712px;
  top: 723px;
}


/* ---------------------------------------------------------------------- *\
                              #SECTION FEATURE
\* ---------------------------------------------------------------------- */


.features {
  position: absolute;
  width: 1440px;
  height: 768px;
  left: 0px;
  top: 768px;
  background: var(--color-white);
}


.features-title {
  text-align: center;
  margin: 80px 526px;
  font-style: normal;
  font-weight: normal;
  color: var(--color-cstom);
}


.features-title-name {
  margin: 0 100px;
}


.features-title-subtitle {
  font-size: 18px;
  margin: 32px 0 0 0;
}


.features-content {
  margin: 32px 72px 59px 162px;
  display: flex;
}


.features-content-left {
  font-size: 16px;
  line-height: 24px;
}


.responsive-layout, 
.pixel-perfect, 
.organized-layers {
  display: grid;
  grid-template-columns: 60px 262px;
}


.responsive-layout-content,
.pixel-perfect-content,
.organized-layers-content {
  display: flex;
  flex-direction: column;
}


.responsive-layout-content-title,
.pixel-perfect-content-title,
.organized-layers-content-title {
  margin: 0 10px;
}


.responsive-layout-content-description,
.pixel-perfect-content-description,
.organized-layers-content-description {
  margin: 10px 10px 30px 10px;
}


.features-content-right {
  background: url(../images/features/mac.png);
  width: 802px;
  height: 464px;
  margin-left: 100px;
}


/* ---------------------------------------------------------------------- *\
                              #SECTION DOWNLOAD
\* ---------------------------------------------------------------------- */


.download {
  position: absolute;
  width: 1440px;
  height: 588px;
  left: 0;
  top: 1536px;
  background: linear-gradient(0deg, #4b4b4b, #4b4b4b), url(../images/download/background.png);
  background-blend-mode: soft-light, normal;
}


.download-content {
  text-align: center;
  color: var(--color-white);
  font-style: normal;
  font-weight: normal;
  margin-top: 163px;
  margin-bottom: 45px;
}


.download-content-title {
  margin-bottom: 20px;
}


.download-content-description {
  width: 555px;
  margin: 0 auto;
}


.download-button {
  width: 210px;
  height: 48px;
  display: flex;
  align-items: center;
  background: var(--color-yellow);
  margin: 0 auto;
  border-radius: 50px;
  justify-content: center;
}


/* ---------------------------------------------------------------------- *\
                              #SECTION TESTIMONIALS
\* ---------------------------------------------------------------------- */
.testimonials {
  position: absolute;
  width: 1440px;
  height: 876px;
  left: 0;
  top: 2124px;
  background: var(--color-white);
}


.testimonials-title {
  margin: 72px 0 28px 0;
  display: flex;
  justify-content: center;
}


.testimonials-card {
  margin: 0 152px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 55% 55%;
  grid-template-rows: 50% 50%;
}


.testimonials-card-item {
  display: flex;
  width: 514px;
  height: 283px;
  padding: 40px;
}


.testimonials-card-item:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}


.testimonials-card-item > img {
  width: 96px;
  height: 96px;
}


.testimonials-card-item-content {
  margin: -13px 0px 0 28px;
  font-size: 16px;
  line-height: 24px;
}


.testimonials-card-item-content-about {
  margin-right: 70px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: solid #f6f6f6;
}


.testimonials-card-item-content-description {
  margin: 0 40px 24px 0;
}


.testimonials-card-item-content-contact img {
  margin-right: 10px;
}


/* ---------------------------------------------------------------------- *\
                              #SECTION PRICING
\* ---------------------------------------------------------------------- */
.pricing {
  position: absolute;
  top: 3000px;
  width: 1440px;
  height: 680px;
  left: 0;
  background: #f6f6f6;
}


.pricing-title {
  display: flex;
  justify-content: center;
  margin-top: 68px;
}


.plan {
  display: flex;
  justify-content: center;
}


.plan-item {
  width: 270px;
  height: 396px;
}


.silver-plan-overlay {
  background: linear-gradient(224.09deg, rgba(255, 255, 255, .7) 5.13%, rgba(255, 255, 255, .00007) 90.88%);
  background-blend-mode: soft-light;
  border-radius: 8px;
  width: 270px;
  height: 396px;
}


.silver-plan {
  width: 270px;
  height: 396px;
  background: #4B4B4B;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  border-radius: 8px;
  
}


.gold-plan {}


.platinum-plan {}


.plan-item-title {
  font-family: 'Lucida Grande';
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 0;
  padding-top: 40px;
}





