@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-family: 'Lucida Grande';
  src: url(../fonts/Lucida-Grande-Regular/Lucida-Grande-Regular.ttf);

}


:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-hover: rgb(55, 51, 51);
  --color-gray: #4b4b4b;
  --color-yellow: #EBCB80;
  --color-yellow-hover: #e4ba58;
  --color-gray-white: #f6f6f6;
}


.text-uppercase {
  text-transform: uppercase;
}

.title {
  font-size: 44px;
  line-height: 48px;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-white);
  margin: auto;
}


/* ---------------------------------------------------------------------- *\
                              #PAGE HEADER
\* ---------------------------------------------------------------------- */


header {
  height: 768px;
  max-width: 1440px;
  background: url("../images/header/background.png");
}


.header-overlay {
  height: 768px;
  max-width: 1440px;
  background: var(--color-black);
  opacity: 0.5;
  mix-blend-mode: normal;
}


.header-nav {
  display: flex;
  align-items: center;
  padding-top: 48px;
}


.header-logo {
  width: 40px;
  height: 43px;
  padding-left: 150px;
  color: var(--color-yellow);
}


.nav-bar {
  display: flex;
  margin-left: 279px;
}


.nav-item-hotels,
.nav-item-airlines,
.nav-item-vacations,
.nav-item-find-more {
  color: var(--color-white);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1px;
  text-decoration: none;
  margin-right: 50px;
}


.header-socials {
  display: flex;
  margin-left: 98px;
}


.social-twiter,
.social-facebook {
  margin-right: 44px;
}


.header-title {
  margin: 0 410px;
  text-align: center;
  color: var(--color-white);
  letter-spacing: -0.5px;
}


.header-video {
  display: flex;
  align-items: center;
  padding: 150px 270px;
  background: url(../images/header/video-frame.png) no-repeat center;
  justify-content: center;
}


.play-background {
  width: 72px;
  height: 72px;
  background: url(../images/header/play-bg.png) no-repeat center;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}


.play-btn {
  width: 18px;
  height: 24px;
}


.header-down-arrow {
  width: 16px;
  height: 6.67px;
  margin: auto;
  margin-top: 52px;
}


/* ---------------------------------------------------------------------- *\
                              #SECTION FEATURE
\* ---------------------------------------------------------------------- */


.features {
  max-width: 1440px;
  height: 768px;
  background: var(--color-white);
}


.features-title {
  text-align: center;
  margin: 80px 526px;
  color: var(--color-cstom);
}


.features-title-name {
  margin: 0 100px;
}


.features-title-subtitle {
  font-size: 18px;
  margin-top: 32px;
}


.features-content {
  margin: 32px 72px 59px 162px;
  display: flex;
}


.features-content-left {
  font-size: 16px;
  line-height: 24px;
}


.responsive-layout, 
.pixel-perfect, 
.organized-layers {
  display: grid;
  grid-template-columns: 60px 262px;
}


.responsive-layout-content,
.pixel-perfect-content,
.organized-layers-content {
  display: flex;
  flex-direction: column;
}


.responsive-layout-content-title,
.pixel-perfect-content-title,
.organized-layers-content-title {
  margin: 0 10px;
}


.responsive-layout-content-description,
.pixel-perfect-content-description,
.organized-layers-content-description {
  margin: 10px 10px 30px 10px;
}


.features-content-right {
  background: url(../images/features/mac.png);
  margin-left: 100px;
  width: 802px;
  height: 464px;
}


/* ---------------------------------------------------------------------- *\
                              #SECTION DOWNLOAD
\* ---------------------------------------------------------------------- */


.download {
  max-width: 1440px;
  height: 588px;
  background: linear-gradient(0deg, var(--color-gray), var(--color-gray)), url(../images/download/background.png);
  background-blend-mode: soft-light, normal;
}


.download-content {
  text-align: center;
  color: var(--color-white);
  font-style: normal;
  font-weight: normal;
  padding-top: 163px;
  padding-bottom: 42px;
}


.download-content-title {
  margin-bottom: 20px;
}


.download-content-description {
  width: 555px;
  margin: 0 auto;
}


.download-button {
  width: 210px;
  height: 48px;
  display: flex;
  align-items: center;
  background: var(--color-yellow);
  margin: 0 auto;
  border-radius: 50px;
  justify-content: center;
}


/* ---------------------------------------------------------------------- *\
                              #SECTION TESTIMONIALS
\* ---------------------------------------------------------------------- */
.testimonials {
  max-width: 1440px;
  height: 876px;
  background: var(--color-white);
}


.testimonials-title {
  padding: 72px 0 28px 0;
  text-align: center;
}


.testimonials-card {
  margin: 0 152px;
  margin-bottom: 72px;
  display: grid;
  grid-template-columns: 55% 55%;
  grid-template-rows: 50% 50%;
}


.testimonials-card-item {
  display: flex;
  width: 514px;
  height: 283px;
  padding: 40px;
}


.testimonials-card-item:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}


.testimonials-card-item > img {
  width: 96px;
  height: 96px;
}


.testimonials-card-item-content {
  margin: -13px 0px 0 28px;
  font-size: 16px;
  line-height: 24px;
}


.testimonials-card-item-content-about {
  margin-right: 70px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: solid var(--color-gray-white);
}


.testimonials-card-item-content-description {
  margin: 0 40px 24px 0;
}


.testimonials-card-item-content-contact img {
  margin-right: 10px;
}


/* ---------------------------------------------------------------------- *\
                              #SECTION PRICING
\* ---------------------------------------------------------------------- */
.pricing {
  max-width: 1440px;
  height: 680px;
  background: var(--color-gray-white);
}


.pricing-title {
  display: flex;
  justify-content: center;
  padding-top: 68px;
}


.plan {
  display: flex;
  justify-content: center;
}


.plan-item {
  width: 270px;
  height: 396px;
  text-align: center;
}


.silver-plan {
  background: var(--color-gray);
  box-shadow: 0px 2px 4px 0px var(--color-black);
  border-radius: 8px;
  color: var(--color-white);
  margin-right: 68px;
}


.silver-plan-overlay {
  background: linear-gradient(224.09deg, rgba(255, 255, 255, .7) 5.13%, rgba(255, 255, 255, .00007) 90.88%);
  background-blend-mode: soft-light;
  border-radius: 8px;
  width: 270px;
  height: 396px;
}


.gold-plan {
  background: var(--color-yellow);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}


.gold-plan-overlay {
  background: linear-gradient(225deg, rgba(255, 255, 255, 0.496575) 0%, rgba(255, 255, 255, 0.0001) 100%);
  background-blend-mode: soft-light;
  border-radius: 8px;
  width: 270px;
  height: 396px;
}


.platinum-plan {
  background: var(--color-gray);
  box-shadow: 0px 2px 4px 0px var(--color-black);
  border-radius: 8px;
  color: var(--color-white);
  margin-left: 68px;
}


.platinum-plan-overlay {
  background: linear-gradient(223.49deg, rgba(0, 0, 0, 0.0001) 4.85%, rgba(0, 0, 0, 0.401127) 96.5%);
  background-blend-mode: multiply;
  border-radius: 8px;
  width: 270px;
  height: 396px;
}


.plan-item-title {
  font-family: 'Lucida Grande';
  font-size: 18px;
  line-height: 27px;
  margin-top: 0;
  padding-top: 40px;
  color: var(--color-yellow);
}


.gold-plan .plan-item-title {
  color: var(--color-black);
}


.plan-item-price {
  font-size: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}


.plan-item-price span {
  font-size: 24px;
  margin: 15px 10px 0 0;
}


.plan-item-description {
  margin: 0;
}


.plan-item-purchase {
  margin-top: 30px;
  border-radius: 50px;
  width: 198px;
  height: 48px;
  background: var(--color-yellow);
  border-color: var(--color-yellow);
}


.plan-item-purchase:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  background: var(--color-yellow-hover);
  border-color: var(--color-yellow-hover);
}


.gold-plan .plan-item-purchase {
  color: var(--color-white);
  background: var(--color-gray);
  border-color: var(--color-gray);
}


.gold-plan .plan-item-purchase:hover {
  background: var(--color-black-hover);
  border-color: var(--color-black-hover);
}







